:host {
  --spacing: 16px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 16px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  font-size: 12px;
}

.item-container {
  flex: 0 0 calc(50% - var(--spacing) / 2);
  display: flex;
  flex-direction: column;
}

.item-container:nth-child(2n) {
  align-items: flex-end;
}

.item {
  display: flex;
  column-gap: 6px;
}

a {
  color: #000000DE;
}

@media (min-width: 600px) {
  :host {
    --spacing: calc(32px + 16px + 8px);
    font-size: 14px;
  }
}

@media (min-width: 960px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1920px) {

}
