:host {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child {
  width: 50%;
  display: flex;
  justify-content: center;
}

.item-label {
  display: flex;
}
