<div class="header">
  About Me
</div>
<div class="paragraph">
  I'm a software developer specializing in web technologies. My expertise spans from frontend to backend development, as well as web design and databases.
</div>
<div class="paragraph">
  I'm proficient in JavaScript, TypeScript, C#, and SQL. I thrive on problem-solving and bring creativity to all my projects.
</div>
<div class="paragraph">
  When I'm not coding, you can find me on the tennis court or enjoying a match on TV. I also love cooking and spending quality time with friends and family.
</div>
<div class="paragraph">
  If you want to know more, feel free to contact me or checkout my recent works below.
</div>
