.cover-container {
  width: 100%;
  height: 128px;
  display: flex;
  position: relative;
}

.cover-image {
  width: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.theme-toggle-button {
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.avatar-container {
  position: absolute;
  top: calc(64px + 16px + 8px);
  left: 12px;
  width: calc(128px + 0px);
  height: calc(128px + 0px);
  display: flex;
  border-radius: 50%;
  border: 4px solid var(--gray-100);
  cursor: pointer;
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.presentation-container {
  height: 96px;
  display: grid;
  grid-template-columns: calc(128px + 4px + 4px + 12px) 1fr;
  margin-bottom: 16px;
}

.name-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
}

.name {
  font-weight: 600;
}

.title {
  font-size: 14px;
}
