<div class="cover-container">
  <img class="cover-image" [ngSrc]="themeService.isDark ? nightUrl : dayUrl" fill priority alt="cover image">
  <button class="header-button menu-header-button" [class.menu-header-button--scrolled]="hasScrolledPastCover" matRipple>
    <fa-icon [icon]="faBurger" size="lg" />
  </button>
  <button class="header-button theme-header-button" matRipple (click)="themeService.toggle()">
    <fa-icon [icon]="themeService.isDark ? faSun : faMoon" size="lg" />
  </button>
</div>
<div class="avatar-container mat-elevation-z2" (click)="openAvatarDialog()">
  <img class="avatar-image" [ngSrc]="smallAvatarUrl" fill priority alt="avatar image">
</div>
<div class="presentation-container">
  <div class="empty-container">

  </div>
  <div class="name-container">
    <span class="name">David Johansson</span>
    <span class="title">Software Developer based in Malmö, Sweden.</span>
  </div>
</div>
