<div class="header">Work Experience</div>
<div style="margin-top: 12px;" class="sub-header">
  <span class="sub-header-title">Software Developer</span>
  <span>Barkfors Fleet AB</span>
  <span class="sub-header-date">2021-09 - Present</span>
</div>
<ul>
  <li>Developed and maintained full-stack software solutions for web and desktop applications.</li>
  <li>Worked in a SCRUM-based DevOps environment, managing tasks within sprints.</li>
  <li>Built and enhanced web applications using Angular (frontend) and ASP.NET (backend).</li>
  <li>Designed and implemented features for WPF desktop applications.</li>
  <li>Created and optimized database structures, including new tables and columns.</li>
  <li>Designed intuitive and user-friendly UI components.</li>
  <li>Integrated external systems and third-party services into existing applications.</li>
  <li>Debugged and resolved complex issues across the application stack.</li>
  <li>Conducted code reviews.</li>
</ul>
<div class="sub-header">
  <span class="sub-header-title">Software Developer</span>
  <span>Learning to Sleep AB</span>
  <span class="sub-header-date">2021-04 - 2021-09</span>
</div>
<ul>
  <li>Maintained and further developed the company's administrative application.</li>
  <li>Normalized relational database tables as part of a migration from a document-based database, using custom migration scripts.</li>
  <li>Migrated the application from an older ORM to Entity Framework Core.</li>
  <li>Developed seed scripts to generate realistic and reliable data for development environments, aligned with the current database schema.</li>
  <li>Designed and implemented a digital prescription solution, consolidating data and generating PDF prescriptions.</li>
</ul>