@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: var(--primary-50),
  100: var(--primary-100),
  200: var(--primary-200),
  300: var(--primary-300),
  400: var(--primary-400),
  500: var(--primary-500),
  600: var(--primary-600),
  700: var(--primary-700),
  800: var(--primary-800),
  900: var(--primary-900),
  A100: var(--primary-A100),
  A200: var(--primary-A200),
  A400: var(--primary-A400),
  A700: var(--primary-A700),
  contrast: (
    50: var(--primary-50-contrast),
    100: var(--primary-100-contrast),
    200: var(--primary-200-contrast),
    300: var(--primary-300-contrast),
    400: var(--primary-400-contrast),
    500: var(--primary-500-contrast),
    600: var(--primary-600-contrast),
    700: var(--primary-700-contrast),
    800: var(--primary-800-contrast),
    900: var(--primary-900-contrast),
    A100: var(--primary-A100-contrast),
    A200: var(--primary-A200-contrast),
    A400: var(--primary-A400-contrast),
    A700: var(--primary-A700-contrast),
  )
);

// $accent-palette: (
//   50: var(--accent),
//   100: var(--accent),
//   200: var(--accent),
//   300: var(--accent),
//   400: var(--accent),
//   500: var(--accent),
//   600: var(--accent),
//   700: var(--accent),
//   800: var(--accent),
//   900: var(--accent),
//   A100: var(--accent),
//   A200: var(--accent),
//   A400: var(--accent),
//   A700: var(--accent),
//   contrast: (
//     50: var(--accent-contrast),
//     100: var(--accent-contrast),
//     200: var(--accent-contrast),
//     300: var(--accent-contrast),
//     400: var(--accent-contrast),
//     500: var(--accent-contrast),
//     600: var(--accent-contrast),
//     700: var(--accent-contrast),
//     800: var(--accent-contrast),
//     900: var(--accent-contrast),
//     A100: var(--accent-contrast),
//     A200: var(--accent-contrast),
//     A400: var(--accent-contrast),
//     A700: var(--accent-contrast),
//   )
// );

$app-typography: mat.define-typography-config(
  $font-family: 'Poppins, sans-serif'
);

$app-dark-primary: mat.define-palette($primary-palette);
$app-dark-accent: mat.define-palette(mat.$pink-palette);
$app-dark-warn: mat.define-palette(mat.$red-palette);
$app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $app-dark-primary,
    accent: $app-dark-accent,
    warn: $app-dark-warn
  ),
  typography: $app-typography
));

.dark-theme {
  @include mat.all-component-themes($app-dark-theme);
}
