<div class="header">
  <div class="title">{{ work().title }}</div>
  <div class="description">{{ work().description }}</div>
</div>
<img class="image" [src]="work().imageUrl" alt="work image">
<div class="actions">
  <a mat-flat-button color="accent" [href]="work().repositoryUrl" target="_blank">
    <fa-icon [icon]="faGithub" size="lg" />
    <span>Source</span>
  </a>
  <a mat-flat-button color="primary" [href]="work().applicationUrl" target="_blank">
    <fa-icon [icon]="faUpRightFromSquare" />
    <span>Open</span>
  </a>
</div>
