<div class="header">Education</div>
<div style="margin-top: 12px;" class="sub-header">Lexicon</div>
<ul>
  <li>Programming in C# and .NET Core</li>
</ul>
<div class="sub-header">Malmö University</div>
<ul>
  <li>Computer Science: Large-Scale Web Services (7.5 ECTS)</li>
  <li>Database Technology (7.5 ECTS)</li>
  <li>System Development and Project I (15 ECTS)</li>
  <li>Object-Oriented Programming - Java (15 ECTS)</li>
  <li>Introduction to Interaction Design (7.5 ECTS)</li>
  <li>Introduction to Computer Science (7.5 ECTS)</li>
</ul>